@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #5172e7;
}
.wrapper {
  background: #fff;
  border-radius: 20px;
  padding: 18px 25px;
  width: 100%;
  max-width: 630px;
  min-width: 450px;
}
.wrapper .wrapper-header p {
  margin: 10px 0px 0px;
}
.wrapper-body {
  margin: 10px 0px;
  outline: 1.7px solid #5172e7;
  border-radius: 6px;
  display: flex;
  flex-flow: row wrap;
  padding: 0px 5px;
}
.wrapper-body form,
.wrapper-body ul {
  flex-shrink: 0;
  padding: 0px;
  align-items: center;
}
.tag-list {
  display: flex;
  padding: 8px 5px;
}
.tag {
  background: #e9e9e9;
  border: 1px solid #d4d4d4;
  margin: 2px;
  padding: 7px 6px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag span {
  margin-left: 7px;
  background-color: #cfcbcb;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 22px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tag span i {
  color: #757575;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.tag-input {
  padding: 10px 7px;
  font-size: 1.05rem;
  width: 100%;
  max-width: 200px;
  border: none;
  margin: 2px;
}
.tag-input:focus {
  outline: none;
}
.wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
button {
  background-color: #5172e7;
  color: #fff;
  border: none;
  padding: 10px 5px;
  font-size: 1.03rem;
  border-radius: 5px;
}
.wrapper-footer p {
  font-size: 1.1rem;
}
